variables:
  GIT_STGIT_STRATEGY: fetch

stages:
  - deploy

deploy:githubpage:
  stage: deploy
  before_script:
    - make install-python-evn
  script:
    - python3 gen_release_note.py
    - mkdocs build
    - make deploy-github-page
  only:
    - master
    - schedules
  tags:
    - docker