name: Upload FinMind Python Package Doc

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.6 ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          make install-python-evn
      - name: Generate releaese note
        run: |
          python3 gen_release_note.py
      - name: Build and publish
        env:
          FINMIND_DOC_TOKEN: ${{ secrets.FINMIND_DOC_TOKEN }}
        run: |
          mkdocs build
          mkdir github_page
          cd github_page && git init
          git config user.name "sam"
          git config user.email "finmind.tw@gmail.com"
          git remote add origin https://gitlabci:${ FINMIND_DOC_TOKEN }@github.com/FinMind/FinMind.github.io.git
          git fetch origin && git reset --hard origin/master
          rm -r *
          cp -r ../site/* .
          git add . && git commit -m "add: update FinMind doc"
          git push origin master
